.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.title{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing:3px;
    color: #fff;
}

.subtitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
.uk_title{
    font-family: 'Bebas Neue', cursive;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing:2px;
    color: #fff;
    font-size: 54px;
}
.uk_subtitle{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 20px;
}

.main_btn{
    padding: 15px;
    border-radius: 4px;
    background: linear-gradient(#FFB548,#F3AF34 100%);
    text-decoration: none;
    color: black;
    transition: background-color 3s !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_btn:hover{
    background: linear-gradient(#f5a732,#ea9b08 100%);
}
.add_info{
    font-size: 18px; 
    color: #fff;
    line-height: 22px;
}

.basic_btn{
    color: #1A1917;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(#FFB548,#F3AF34 100%);
    padding: 18px 30px;
    border-radius: 4px;
    transition: all 0.3s;
}
.basic_btn:hover{
    background: linear-gradient(#FFB548,#eaa016 100%);
}
.btn_background{
    max-width: 260px;
    width: 100%;
}

/*============ MEDIA QUERIES ============*/

@media only screen and (max-width: 694px){
    .title{
        font-size: 50px;
        line-height: 60px;
    }
    .subtitle{
        font-size: 18px;
    }
    .uk_title{
        line-height: 50px;
        font-size: 42px;
    }
}

@media only screen and (max-width: 497px){
    .title{
        font-size: 36px;
        line-height: 35px;
    }
    .subtitle{
        font-size: 14px;
    }
    .uk_title{
        line-height: 50px;
        font-size: 32px;
        text-align: center;
    }
    .uk_subtitle{
        font-size: 18px;
    }
}
@media only screen and (max-width: 408px){
    .title{
        font-size: 26px;
        line-height: 30px;
    }
    .subtitle{
        font-size: 12px;
    }
    .uk_title{
        font-size: 24px;
    }
    .uk_subtitle{

        font-size: 12px;
    }
    .add_info{
        font-size: 12px;
    }
    
    .basic_btn{
        padding: 10px 12px;
    }
    .button_position{
        margin-top: 35px;
    }
}